@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  /* background-color: #f8f9fa;
  background-color: #343a40;
  background-color: #edf2fa; */
  /* padding-top: 3rem; */
}
html,
body {
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.paragraph {
  max-width: 600px;
  /* color: #ebe9e1; */
  color: white;
}

.h1Bold {
  font-weight: 900;
  color: #ea615a;
  /* color: #212f3c; */
}
.h3-custom {
  /* color: #ebe9e1;*/
  color:  #ea615a;
  font-weight: 700;
}
.margin-top {
  font-size: 100px;
  margin-top: 10rem;
  text-align: center;
  color: #ea615a;
}
.mt-3 {
    color: #ea615a;
}
.mt-4 {
    color: #ea615a;
}
/* Button */
.custom-button-primary {
  background-color: pink;
  color: black;
  border: solid #ebe9e1 1px;
  margin: 10px;
}

.custom-button-secondary {
  background-color: black;
  border: solid #ebe9e1 1px;
  color: pink;
  margin: 10px;
}
.custom-button-secondary:hover {
  background-color: pink;
  border: solid #ebe9e1 1px;
  color: black;
}

.custom-button-primary:hover {
  background-color: black;
  border: solid #ebe9e1 1px;
  color: pink;
}

.custom-button-primary:active {
  background-color: #2e3f52 !important;
  border: solid #ebe9e1 1px !important;
}

.custom-button-secondary:active {
  background-color: black !important;
  border: solid #ebe9e1 1px !important;
  color: pink;
}
/* navbar */
.bg-primary-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.bg-primary-color {
  background: linear-gradient(135deg, #16222a, #3a6073);
  background: linear-gradient(90deg, #16222a, #2e3f52);
  background: linear-gradient(90deg, #16222a, #2e3f52);
  color: white !important;
}
.bar-control {
  height: 2rem;
}
.bg-body-tertiary {
  background: rgba(23, 32, 42, 0.5) !important;
  color: #ebe9e1 !important;
  height: 4rem;
}
.navbar-brand {
  font-weight: bold;
  color: #ff8a84;
  font-size: 30px;
}
.navLink {
  color: pink !important;
}
.navLink .dropdown-toggle {
  color: pink !important;
}
.navLink .dropdown-menu {
  background-color: rgba(23, 32, 42, 0.6);
}
.navLink .dropdown-item {
  color: #ebe9e1 !important;
}
.navLink .dropdown-item:hover {
  background-color: rgba(23, 32, 42, 0.6);
  color: #ebe9e1 !important;
}
.nav-link {
    color: pink;
}

.bg-footer {
  background: linear-gradient(90deg, black, #0800ff);
  padding: 5rem;
}
.formLabel {
  font-weight: 600;
  /* color: #ebe9e1; */
  color: white;
}
.homeContent {
  height: 100vh;
  background: linear-gradient(135deg, #e8cbc0, #636fa4);
}

.homeSection {
  /* top: 3rem; */
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("../assets/b1.jpg"); */
  background-image: url("main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.caption-container {
  position: absolute;
  top: 2rem;
  padding: 1rem;
  color: white;
  text-align: left;
}
.login-container {
  max-width: 500px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contractor-bg {
  background: #2f5f7f;
  /* background: pink; */
}
.contractor-bg {
  background: #16222a;
  background: -webkit-linear-gradient(to right, #3a6073, #16222a);
  background: linear-gradient(to right, #3a6073, #16222a);
}

.customer-bg {
  background: #b45a8f;
  /* background: pink; */
}
.customer-bg {
  background: #f2709c;
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
  background: linear-gradient(to right, #ff9472, #f2709c);
}

.pages-pad {
  padding-top: 8rem;
  padding-bottom: 5rem;
}
.pages-form-labels {
  color: white;
}

.pages-custom-container {
  max-width: 900px;
  margin: 0 auto;
}
.pages-box-shadow {
  background-color: rgb(31, 31, 31, 0.8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}
.changes-text-thin {
  font-weight: 400;
}
.h2-projectTracking {
  /* color: #ebe9e1;*/
  /* color: white; */
  color: #f2709c;
  font-weight: 600;
  font-size: 5em;
}
.p-projectTracking {
  /* color: #ebe9e1;*/
  color: white;
  font-weight: 600;
  font-size: 1em;
}

.gantt-chart-pad {
  padding-top: 3rem;
}

/* .flex-container {
  display: flex;
  justify-content: space-between;
} */
